<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OokOok</title>
    <script src="[% c.uri_for('/static/js/jquery.js') %]"></script>
    <script src="[% c.uri_for('/static/js/bootstrap.min.js') %]"></script>
    <link href="[% c.uri_for('/static/css/bootstrap.min.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/static/css/bootstrap-responsive.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/static/css/overrides.css') %]" rel="stylesheet">
    <style>
      @media (min-width: 980px) {
        body {
          padding-top: 60px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit" style="text-align: center;">
        <h1>Uh oh!</h1>
        <p>It looks like we ran into a problem.
           Don't worry, though. Someone will be on top of it as soon as
           possible.
           You can go to <a href="[% c.uri_for("/") %]">the top page</a>
           or search for something.</p>
        <form action="[% c.uri_for("/search") %]">
          <input type="text" name="q" class="span6" /><br />
          <button type="submit" class="btn btn-primary">Search</button>
          <button type="submit" class="btn" name="l" value="1">I'm feeling lucky</button>
        </form>
      </div>
    </div>
  </body>
</html>
