<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>OokOok</title>
    <script src="[% c.uri_for('/static/js/jquery.js') %]"></script>
    <script src="[% c.uri_for('/static/js/bootstrap.min.js') %]"></script>
    <link href="[% c.uri_for('/static/css/bootstrap.min.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/static/css/bootstrap-responsive.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/static/css/overrides.css') %]" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>Uh oh!</h1>
        <p>It looks like the page you're looking for isn't there.
           You can go to <a href="[% c.uri_for("/") %]">the top page</a>
           or search for something.</p>
        <form action="[% c.uri_for("/search") %]">
          <div class="row">
            <div class="offset1 span10">
              <input type="text" name="q" class="span10" />
            </div>
          </div>
          <div class="row">
            <div class="offset4 span4">
              <input type="submit" class="btn btn-large span4 btn-primary" value="Search" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
