[%- META no_wrapper = 1 -%]
<html>
<head>
  <title>[% edition.name %] - [% page.title %]</title>
  <!-- we'll load the stylesheet for the theme and layout eventually -->
</head>
<body>
[%- rendering -%]
</body></html>
